{% extends "base.html" %}

{% block title %} 
{{ post.title_tag}} - {{ post.title }} 
{% endblock title %}


{% block content %}

<h1>{{ post.title }}</h1>
<small>
    by {{ post.author.first_name}} {{ post.author.last_name }}
    <br/>
    {% if user.is_authenticated %}
        {% if user.id == 1 %} <!-- Admin -->
            <a href="{% url 'update_post' post.pk %}">Edit & Update Post</a>
            or
            <a href="{% url 'delete_post' post.pk %}">Delete Post</a>
        
        {% else %}
            {% if user.id == post.author.id %}
                <a href="{% url 'update_post' post.pk %}">Edit & Update Post</a>
                or
                <a href="{% url 'delete_post' post.pk %}">Delete Post</a>
            {% endif %}
        {% endif %}
    {% endif %}
</small>
<br/>
<hr>
<br/>
{{ post.body }}
<br/>
<br/>
<form 
action="{% url 'like_post' post.pk %}"
method="POST">
{% csrf_token %}
    <button type="submit", name="post_id", value ="post.id", 
    class='btn btn-primary btn-sm'>Like</button> - {{ total_likes }} Like(s)
</form>

<br/>
<br/>
<a href="{% url 'home' %}" class="btn btn-primary">Back</a>

{% endblock content %}