{% extends "base.html" %}   

{% block content %}

<h1>Recent Posts</h1>
<br/><br/>
<ul>
{% for post in object_list %}
    <li><a href="{% url 'article-detail' post.pk %}"><strong>{{ post.title }}</strong></a> by 
        {{ post.author.first_name }}
        {{ post.author.last_name}} - 
        <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a> 
        - {{ post.date_added }} 
        
        {% if user.is_authenticated %}
            {% if user.id == 1 %} <!-- Admin -->
                <a href="{% url 'update_post' post.pk %}">
                        <small>Edit & Update Post</small>
                </a>
                or
                <a href="{% url 'delete_post' post.pk %}">
                <small>Delete Post</small>
                </a>
            {% else %}
                {% if user.id == post.author.id %}
                    <a href="{% url 'update_post' post.pk %}">
                            <small>Edit & Update Post</small>
                    </a>
                    or
                    <a href="{% url 'delete_post' post.pk %}">
                    <small>Delete Post</small>
                    </a>
                {% endif %}
            {% endif %}
        {% endif %}
        <br/>
        {{ post.snippet }}
        <br/><br/>
    </li>
{% endfor %}
</ul>

{% endblock content %}