{% extends "base.html" %}   

{% block title %} 
Blog App - Edit & Update Post - {{ post.title }} 
{% endblock title %}

{% block content %}

{% if user.is_authenticated %}
    
    {% if user.id == 1 %} <!-- Admin -->
        <h1>Edit & Update Post</h1>
        <br/><br/>
        <div class="mb-3">
            <form method="POST">
                {% csrf_token %}
                {{ form.media }}
                {{ form.as_p }}
                <button class="btn btn-primary">Update</button>
            </form>
        </div>
    {% else %}
        {% if user.id == post.author.id %}
            <h1>Edit & Update Post</h1>
            <br/><br/>
            <div class="mb-3">
                <form method="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <button class="btn btn-primary">Update</button>
                </form>
            </div>
        {% endif %}
    {% endif %}

{% else %}

<strong> You have to be logged in in order to update posts!</strong>

{% endif %}

{% endblock content %}